doctype html
html(ng-app='app')
  head
      title X-8 Tactical
      link(rel="stylesheet" type="text/css" href="css/style.css")
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  body(ng-controller='BodyCtrl')
    header
      img(src='img/logo.png')
      .title X-8 Tactical
    main
      .products
        h2 Our Products
        .product 
          h3.name Arrow
          img(alt='arrow', src='img/products/arrow/1.jpg')
          .pricing Price:
            .price $100
          .description
        .product 
          h3.name Morgan
          img(alt='morgan', src='img/products/morgan/1.jpg')
          .info
            .pricing Price: 
              .price $125
            .description
        .product 
          h3.name DM
          .pricing Price: 
            .price $125
          |<blockquote class="instagram-media" data-instgrm-version="6" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/4AAyDZq0Wg/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A photo posted by @x8tactical</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-06-16T18:31:56+00:00">Jun 16, 2015 at 11:31am PDT</time></p></div></blockquote>
          .description
        .product 
          h3.name Morgan Trainer
          img(alt='morgan-trainer', src='img/products/morgan-trainer/1.jpg')
          .pricing Price: 
            .price Wrapped: $30
            .price Un-Wrapped: $35
          .description
      .about  
        h2 About Us
        .fb-page(data-href="https://www.facebook.com/X8TacticalLimited/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true")
          .fb-xfbml-parse-ignore
            blockquote(cite="https://www.facebook.com/X8TacticalLimited/")
              a(href="https://www.facebook.com/X8TacticalLimited/") X-8 Tactical Limited
          
    script(async defer src="//platform.instagram.com/en_US/embeds.js")
    script(src='./js/vendor/angular/angular.js')
    script(src='./js/'+pkgName+'.js')
