doctype html
html(ng-app='app')
  head
      title X-8 Tactical
      link(rel="stylesheet" type="text/css" href="css/style.css")
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  body(ng-controller='BodyCtrl')
    header
      img(src='img/logo.png')
      .title X-8 Tactical
    main
      .products
        h2 Our Products
        .product 
          h3.name Arrow
          img(alt='arrow', src='img/products/arrow/1.jpg')
          .info
            .pricing Price:
              .price $100
          .description
            form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
              input(type="hidden" name="cmd" value="_s-xclick")
              input(type="hidden" name="hosted_button_id" value="PLMQHCLQYTQFE")
              input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
              img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
        .product 
          h3.name Morgan
          img(alt='morgan', src='img/products/morgan/1.jpg')
          .info
            .pricing Price: 
              .price $125
          .description
            form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
              input(type="hidden" name="cmd" value="_s-xclick")
              input(input type="hidden" name="hosted_button_id" value="C6FCRN5K9LPQJ")
              input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
              img(img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
        .product 
          h3.name DM
          img(alt='DM', src='img/products/DM/1.jpg')
          .info
            .pricing Price: 
              .price $125
          .description
            form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
              input(type="hidden" name="cmd" value="_s-xclick")
              input(type="hidden" name="hosted_button_id" value="KMCXLE26LKJCE")
              input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
              img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
        .product 
          h3.name Morgan Trainer
          img(alt='morgan-trainer', src='img/products/morgan-trainer/1.jpg')
          .info
            .pricing Price: 
              .price Wrapped: $35
              .price Un-Wrapped: $30
          .description
            form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
              input(type="hidden" name="cmd" value="_s-xclick")
              input(type="hidden" name="hosted_button_id" value="KEPBG65EG8DCU")
              table
                tr
                  td
                    input(type="hidden" name="on0" value="Handle">Handl)
                tr
                  td
                    select(name="os0")
                      option(value="Wrapped") Wrapped $35.00 US
                      option(value="Un-Wrapped") Un-Wrapped $30.00 US
              input(type="hidden" name="currency_code" value="USD")
              input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
              img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")

      .about  
        h2 About Us
        .fb-page(data-href="https://www.facebook.com/X8TacticalLimited/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true")
          .fb-xfbml-parse-ignore
            blockquote(cite="https://www.facebook.com/X8TacticalLimited/")
              a(href="https://www.facebook.com/X8TacticalLimited/") X-8 Tactical Limited
        p X-8 Tactical is a small family based business. Owned by Michael and Jonna Anne. Michael and Jonna have worked with Proffessional chefs, Law Enforcement, Military, Search and Recover Divers, EMS, Martial Artists, Defensive Tactics instructors when working to designed new knives and tools. Michael has 30 years of martial arts experince and has been working along law enformenent and divers  for 16 years. 
        p Jonna has been working as a professional chef for over 17 years  
        p Mike is a the edge weapons consulatant for allstar tactical in Rochester, NY
          
    script(src='./js/vendor/angular/angular.js')
    script(src='./js/'+pkgName+'.js')
