doctype html
html(ng-app='app')
  head
      title X-8 Tactical
      link(rel="stylesheet" type="text/css" href="css/style.css")
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  body(ng-controller='BodyCtrl')
    header
      img(src='img/x8-tactical-logo.png')
      .title X-8 Tactical
    main
      .products
        .product
          
    script(src='./js/vendor/angular/angular.js')
    script(src='./js/'+pkgName+'.js')
