@import "bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "../bower_components/lesshat/build/lesshat-prefixed.less";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body{
  height:100%;
  background-size: cover !important;
  background: no-repeat center center fixed;
  transition: .5s;
}

header{
  border-bottom: 1px black solid;
  padding-bottom:@padding-small-vertical;
  .container;
  .title{
    font-size: 6vw;
    font-weight: 700;
    line-height: 1;
    display: inline;
  }
  img{
    height: 6vw;
    vertical-align: top;
    margin-right:1vmax;
  }
}
main{
  .container;
  .main-copy{
    margin-top:@padding-large-vertical;
    p{
      font-size:@font-size-large;
    }
  }
  .products{
    .make-row();
    .product{
      .make-xs-column(12);
      .make-sm-column(6);
      .make-md-column(4);
      .make-row();
      padding:@padding-small-vertical @padding-small-horizontal;
      img{
        .img-responsive();
        .make-sm-column(8);
      }
      .info{
        .make-sm-column(4);
      }
      .name{
        .make-xs-column(12);
      }
      .description{
        .make-xs-column(4);
      }
    }
  }
  .about{
    .make-row();
    .fb-page{
      .make-sm-column(6);
      .make-md-column(4);
    }
    .description{
      font-size:@font-size-large;
      .make-sm-column(6);
      .make-md-column(8);
      .contact{
        .title{
          .h2;
          margin-top:10px;
        }
      }
      .friends{
        .title{
          .h2;
          margin-top:10px;
        }
      }
      .about{
        .title{
          .h3;
        }
      }
      .disclaimer{
        .title{
          .h2;
          margin-top:10px;
        }
        p{
          font-size:ceil((@font-size-large * 1.25));
        }
      }
    }
  }
}
